<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/api_hateoas/src/main/java/com/wcode/api_hateoas/ApiHateoasApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.wcode.api_hateoas.ApiHateoasApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="api_hateoas"/>
</launchConfiguration>
